.myModal {   /* растягиваем модалку на все окно */
    position: fixed;
    top: 0;   
    bottom: 0;
    right: 0;
    left: 0;
    display: none;   /* для того что бы изначально окно не было видно */
    background: rgba(0,0,0, 0.5);
}


.myModalContent {     
    padding: 25px;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    min-width: 250px;
}


.myModal.active {    /* выравниваем модальное окно */
    display: flex;
    justify-content: center;
    align-items: center;
}