.myInput {
    width: 100%;   /* ширина */
    padding: 5px 15px;  /* внутренние отступы */
    margin: 5px 0;      /* внешний отступ */
    border: 1px solid teal;  /* рамка сплошная темно-зеленая */
}